<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>Lista de Productos Primarios</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
     
</head>
<body>
 <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/ListaRecetas">Trazabilidad Alimentaria</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" th:action="@{/logout}" method="post">
                <div class="input-group">
                    <span class="text-white mx-2" sec:authentication="name"></span>
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Salir</button>
                </div>
            </form>
            <!-- Navbar-->

        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="sb-sidenav-menu-heading">Administración</div>
                            <a class="nav-link" href="/AdministracionUsuario">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Administrar Usuarios
                            </a>
                            <a class="nav-link" href="/ListaProductosPrimarios">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Productos Primarios
                            </a>
                           </div>
                            <div class="sb-sidenav-menu-heading">Servicios</div>
                            <a class="nav-link" href="/ListaRecetas">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                              	Recetas                              
                            </a>
                            <a class="nav-link" href="/ListaLotes">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                              	Elaborados                              
                            </a>
                            <a class="nav-link" href="/Trazabilidad">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                              	Trazabilidad                             
                            </a>

                    </div> <!-- Cierro class=nav -->
                    <div class="sb-sidenav-footer">
                        <div class="small">Creado por:</div>
                        GTR
                    </div> <!-- Cierro footer -->
                </nav>
            </div> <!-- layoutSidenav_nav -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                   		<h1>Productos Primarios</h1>
                   		<div class="container-xxl">
                   		<a class="btn btn-success btn-cabecera"  href="#!" th:href="@{/ActivarProductoPrimario}"><i>Activar Producto</i></a>
                   		<a class="btn btn-success btn-cabecera"  href="#!" th:href="@{/HistoricoProductoPrimario/0}"><i>Histórico</i></a>
                   		<a class="btn btn-success btn-cabecera"  href="#!" th:href="@{/ProductoPrimario}"><i>Nuevo Producto</i></a>
                   		</div> <!-- Cierro container-xxl -->
                   		<div class="container-xxl">
						<div class="col-md-offset-2 col-md-10 card-body">
						
						<table class="table table-striped" id="datatablesSimple">
						<thead>
						<tr>
							<th>Nobre</th>
							<th>Empresa</th>
							<th>Cantidad</th>
							<th>Acciones</th>
						</tr>						
						</thead>
							<tfoot>
						<tr>
							<th>Nobre</th>
							<th>Empresa</th>
							<th>Cantidad</th>
							<th>Acciones</th>
						</tr>						
						</tfoot>
						<tbody>
						<tr th:each="producto : ${productos}">
							<td th:text="${producto.nombreprimario}">Nombre</td>
							<td th:text="${producto.empresa}">Empresa</td>
							<td th:text="${producto.cantidad}">1</td>
							<td><a href="#" th:href="@{/ProductoPrimario/{id}(id=${producto.id})}" class="btn btn-success">Modificar</a>
							<a data-toggle="modal" data-target="#delete-modal" th:id="${producto.id}" th:data-id="${producto.id}" th:data-nombre="${producto.nombreprimario}" class="btn btn-danger" >Desactivar</a>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#añadir-modal" th:data-id="${producto.id}" th:data-nombre="${producto.nombreprimario}">Añadir</button>
							<a data-toggle="modal" data-target="#disminuir-modal"  th:data-id="${producto.id}" th:data-nombre="${producto.nombreprimario}" th:data-cantidad="${producto.cantidad}" class="btn btn-warning" >Disminuir</a>
							</td>
						</tr>
						</tbody>
						</table>
						</div> <!-- col-md-offset-2 col-md-8 -->
						</div> <!-- container-xxl -->
                   		
                   		
                    </div> <!-- container-fluid px-4 -->

                </main>

</div> <!-- layoutSidenav_content -->
 	<!-- Modal eliminar -->
 		<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Desactivar producto</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>					
				</div>
				<div class="modal-body">
					<p>¿Está usted seguro desea desactivar este producto?</p>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<a href="#" class="btn btn-danger">Sí</a>
				</div>
			</div>

		</div>
	</div> <!-- fin modal fade -->
	<!-- Dialogo modal añadir -->
	<div class="modal fade" id="añadir-modal" tabindex="-1" role="dialog" aria-labelledby="añadirModalLabel" aria-hidden="true">
  		<div class="modal-dialog" role="document">
   			 <div class="modal-content">
     			 <div class="modal-header">
       				 <h5 class="modal-title" id="añadirModalLabel">Añadir mas cantidad</h5>
        			 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         			 <span aria-hidden="true">&times;</span>
        			 </button>
     			 </div>
      			 <div class="modal-body">
       				 <form>
         				 <div class="form-group">
           					 <label for="recipient-name" class="col-form-label">Cantidad:</label>
           					 <input type="number" class="form-control" id="añadircantidad" pattern="[0-9]+" >
         				</div>
                    </form>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        			<a href="#" class="btn btn-primary" th:onclick="aceptar()">Actualizar</a>
        			<input type="hidden" id="id_producto" name="id_producto" value="">
      			</div>
    	  </div> <!-- fin modal-content-->
  	</div> <!-- fin modal-dialos -->
</div> <!--modal face  -->
	<!-- Dialogo modal disminuir -->
	<div class="modal fade" id="disminuir-modal" tabindex="-1" role="dialog" aria-labelledby="disminuirModalLabel" aria-hidden="true">
  		<div class="modal-dialog" role="document">
   			 <div class="modal-content">
     			 <div class="modal-header">
       				 <h5 class="modal-title" id="disminuirModalLabel">Disminuir Cantidad</h5>
        			 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         			 <span aria-hidden="true">&times;</span>
        			 </button>
     			 </div>
      			 <div class="modal-body">
       				 <form>
         				 <div class="form-group">
           					 <label for="recipient-name" class="col-form-label">Cantidad:</label>
           					 <input type="number" class="form-control" id="disminuircantidad" pattern="[0-9]+" >
           					 <input type="hidden" id="cantidadalmacen">
         				</div>
                    </form>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        			<a href="#" class="btn btn-primary" th:onclick="disminuir()">Disminuir</a>
        		</div>
    	  </div> <!-- fin modal-content-->
  	</div> <!-- fin modal-dialos -->
</div> <!--modal face disminuir -->

</div> <!-- layoutSidenav-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="/js/scripts.js"></script>
     <script src="/js/ProductoPrimario.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
	<script src="/js/datatables-simple.js"></script>

</body>

</html>