<!DOCTYPE html>
<html  lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<title>Movimiento Producto Primario</title>
</head>
<body>
		<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" th:action="@{/logout}" method="post">
                <div class="input-group float-right">
                    <span class="text-white mx-2" sec:authentication="name"></span>
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Salir</button>
                </div>
            </form>
            <!-- Navbar-->

        </nav>
        
         <div class="container">

      <div class="starter-template">
        <h1 th:text="${nombreproducto}">Movimiento Producto Primario</h1>
       		<div class="row">
       			<div class="col-md-offset-2 col-md-8">
       				
       				<form method="post" action="#" th:action="@{/MovimientoPrimario/submit}">
  					   <div class="form-row my-2">
							<!-- Text input-->
							<div class="col form-group">
							  <label class="col-md-20 control-label" for="textinput">Empresa</label>  
							  <div class="col-md-20">
							  	<span id="empresa" name="empresa" class="form-control input-md" th:text="${empresa}">
							   </div>
							</div>
							
							<!-- Text input-->
							<div class="col form-group">
							  <label class="col-md-20 control-label">Tipo Movimiento</label>  
							  <div class="col-md-20">
							  	<span id="tipomovimiento" name="tipomovimiento" class="form-control input-md" th:text="${tipomovimiento}">
							   </div>
							</div>							
						</div>
						<div class="form-row my-2">
							<!-- Text input-->
							<div class="col form-group">
							  <label class="col-md-20 control-label">Fecha Movimiento</label>  
							  <div class="col-md-20">
							 	 <span id="fecha" name="fecha" class="form-control input-md" th:text="${fecha}">
							  </div>
							</div>
							<!-- Text input-->
							<div class="col form-group">
							  <label class="col-md-20 control-label">Fecha Compra</label>  
							  <div class="col-md-20">
							 	 <span id="fecha" name="fecha" class="form-control input-md" th:text="${fecha_compra}">
							  </div>
							</div>
						</div>
						<div class="form-row my-2">
							<!-- Text input-->
							<div class="col form-group">
							  <label class="col-md-20 control-label">Cantidad</label>  
							  <div class="col-md-20">
							  	<span id="cantidad" name="cantidad" class="form-control input-md" th:text="${cantidad}">
							  </div>
							</div>	
														<!-- Text input-->
							<div th:if="${lote !=''}" class="col form-group">
							  <label class="col-md-20 control-label">Lote</label>  
							  <div class="col-md-20">
							  	<span id="lote" name="lote" class="form-control input-md" th:text="${lote}">
							  </div>
							</div>	
							</div>
							<!-- Button -->
							<div class="btn-toolbar">
							<div class="col-md-4">
							    <a href="#" class="btn btn-secondary btn-lg" th:href="@{/HistoricoProductoPrimario/0}">Aceptar</a>
							</div>

							</div>		
       				
       				</form>
       			
       			</div>
       		
       		</div>
      </div>

    </div><!-- /.container -->
        
        
</body>
</html>