<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
		<title>Historico lotes</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
 		<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/ListaLotes">Elaborados</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" th:action="@{/logout}" method="post">
                <div class="input-group">
                    <span class="text-white mx-2" sec:authentication="name"></span>
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Salir</button>
                </div>
            </form>
            <!-- Navbar-->

 </nav>
     <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                    	    <div class="sb-sidenav-menu-heading">Recetas</div>
						    <div th:each="receta,stat : ${recetas}">
                            <a class="nav-link collapsed" href="#" th:href="@{/HistoricoLote/{receta}(receta=${receta.idreceta})}">
                                <span th:text="${receta.nombrereceta}"></span>
                            </a>                        
                            </div> <!-- th:each recetas -->
                        </div> <!-- Cierro class=nav -->
                    <div class="sb-sidenav-footer">
                        <div class="small">Creado por:</div>
                        GTR
                    </div> <!-- Cierro footer -->
                </nav>
            </div> <!-- layoutSidenav_nav -->
             <div id="layoutSidenav_content">
             <main>
                    <div class="container-fluid px-4">
                    	<h1>Histórico lotes por receta</h1>
                   		<div class="navbar-form navbar-right">
                   			<a class="btn btn-primary btn-cabecera-buscar"  href="#!" th:onclick="buscar()"><i>Buscar</i></a>
                   			<input type="text"  class="btn-cabecera-buscar" id="buscar" sice=20 placeholder="Receta">
                   		</div>
                   		<h1><span th:text="${receta}"></span></h1>
                   		
                   		<div class="container-xxl">
						<div class="col-md-offset-2 col-md-10 card-body">
						<table class="table table-striped" id="datatablesSimple">
						<thead>
						<tr>
							
							<th>Lote</th>
							<th>Fecha Elaboración</th>
							<th>Caducidad</th>
							<th>Cantidad</th>
							<th>Acciones</th>
						</tr>						
						</thead>
						<tfoot>
							<tr>
							<th>Lote</th>
							<th>Fecha Elaboración</th>
							<th>Caducidad</th>
							<th>Cantidad</th>
							<th>Acciones</th>
						</tr>
						</tfoot>
						<tbody>
						<tr th:each="lote : ${lotes}">
							
							<td th:text="${lote.lote}">Lote</td>
							<td th:text="${lote.fechelaboracion}">Fecha Elaboración</td>
							<td th:text="${lote.fechcaducidad}">Caducidad</td>
							<td th:text="${lote.cantidadproducida}">Cantidad</td>
							<td><a href="#" th:href="@{/lote/0/{lote}(lote=${lote.lote})}" class="btn btn-success">Abrir</a>
							
							</td>
						</tr>
						</tbody>
						</table>
						</div> <!-- col-md-offset-2 col-md-8 -->
						</div> <!-- container-xxl -->
                    </div> <!-- container-fluid px-4 -->

                </main>
             </div>
    </div>
    <script src="/js/scripts.js"></script>
    <script src="/js/HistoricoLote.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
	<script src="/js/datatables-simple.js"></script>
</body>
</html>