<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Lista de Elaborados</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/ListaRecetas">Trazabilidad Alimentaria</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" th:action="@{/logout}" method="post">
                <div class="input-group">
                    <span class="text-white mx-2" sec:authentication="name"></span>
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Salir</button>
                </div>
            </form>
            <!-- Navbar-->

        </nav>
         <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="sb-sidenav-menu-heading">Administración</div>
                            <a class="nav-link" href="/AdministracionUsuario">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Administrar Usuarios
                            </a>
                            <a class="nav-link" href="/ListaProductosPrimarios">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Productos Primarios
                            </a>
                         </div>
                            <div class="sb-sidenav-menu-heading">Servicios</div>
                            <a class="nav-link" href="/ListaRecetas">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                              	Recetas                              
                            </a>
                            <a class="nav-link" href="/ListaLotes">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                              	Elaborados                              
                            </a>
                            <a class="nav-link" href="/Trazabilidad">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                              	Trazabilidad                             
                            </a>

                    </div> <!-- Cierro class=nav -->
                    <div class="sb-sidenav-footer">
                        <div class="small">Creado por:</div>
                        GTR
                    </div> <!-- Cierro footer -->
                </nav>
            </div> <!-- layoutSidenav_nav -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                   		<h1>Lotes Elaborados</h1>
                   		<div class="container-xxl">
                   		<a class="btn btn-success btn-cabecera"  href="#!" th:href="@{/lotes/export/excel}"><i>Exportar a Excel</i></a>
                   		<a class="btn btn-success btn-cabecera"  href="#!" th:href="@{/HistoricoLotes}"><i>Histórico</i></a>
                   		</div> <!-- Cierro container-xxl -->
                   		<div class="container-xxl">
						<div class="col-md-offset-2 col-md-10 card-body">
						<table class="table table-striped" id="datatablesSimple">
						<thead>
						<tr>
							<th>Nombre</th>
							<th>Lote</th>
							<th>Caducidad</th>
							<th>Cantidad</th>
							<th>Acciones</th>
						</tr>						
						</thead>
						<tfoot>
							<tr>
							<th>Nombre</th>
							<th>Lote</th>
							<th>Caducidad</th>
							<th>Cantidad</th>
							<th>Acciones</th>
						</tr>
						</tfoot>
						<tbody>
						<tr th:each="lote : ${lotes}">
							<td th:text="${lote.nombrereceta}">Nombre</td>
							<td th:text="${lote.lote}">Lote</td>
							<td th:text="${lote.fechcaducidad}">Caducidad</td>
							<td th:text="${lote.cantidadproducida-lote.cantidaddistribuida}">Cantidad</td>
							<td><a href="#" th:href="@{/lote/1/{lote}(lote=${lote.lote})}" class="btn btn-success">Abrir</a>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#distribuir-modal" th:data-id="${lote.lote}" 
							 th:data-nombre="${lote.nombrereceta}" th:data-cantidad="${lote.cantidadproducida-lote.cantidaddistribuida}">Distribuir</button>
							</td>
						</tr>
						</tbody>
						</table>
						</div> <!-- col-md-offset-2 col-md-8 -->
						</div> <!-- container-xxl -->
                   		
                   		
                    </div> <!-- container-fluid px-4 -->

                </main>
<!-- Dialogo modal añadir -->
	<div class="modal fade" id="distribuir-modal" tabindex="-1" role="dialog" aria-labelledby="distribuirModalLabel" aria-hidden="true">
  		<div class="modal-dialog" role="document">
   			 <div class="modal-content">
     			 <div class="modal-header">
       				 <h5 class="modal-title" id="distribuirModalLabel">Distribuir Lote</h5>
        			 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         			 <span aria-hidden="true">&times;</span>
        			 </button>
     			 </div>
      			 <div class="modal-body">
       				 <form>
         				 <div class="form-group">
           					 <label for="recipient-name" class="col-form-label">Cantidad:</label>
           					 <input type="number" class="form-control" id="distribuircantidad" pattern="[0-9]+" >
           					 <label for="tipo-movimiento" class="col-form-label">Tipo Movimiento</label>
           					 <select id="tipomovimiento" name="tipomovimiento"  class="form-control">
           					 	 <option selected=true value="-1">Seleccione un valor</option>
							    <option value="ventadirecta">Venta Directa</option>
							    <option value="distribuidora">Distribuidora</option>
							    <option value="mercadillos">Mercadillos</option>
							    <option value="desechar">Desechar</option>
							</select>
							<label for="destinatario-name" class="col-form-label">Destinatario:</label>
           					<input type="text" class="form-control" id="destinatario" >
         				</div>
         				<input type="hidden" id="cantidad">
                    </form>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        			<a href="#" class="btn btn-primary" th:onclick="aceptar()">Aceptar</a>
        			<input type="hidden" id="lote" name="lote" value="">
      			</div>
    	  </div> <!-- fin modal-content-->
  	</div> <!-- fin modal-dialos -->
</div> <!--modal face  -->
</div> <!-- layoutSidenav_content -->

</div> <!-- layoutSidenav -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/js/ListaLotes.js"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/datatables-simple.js"></script>

</body>

</html>