<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
 <meta charset="UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/styles.css" rel="stylesheet" />
      <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<title>Actualizar password</title>
</head>
    <body class="bg-login">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Recuperar Password</h3></div>
                                    <div class="card-body">
                                        <form  id="recuperarpassword" action="#" th:action="@{/ModificarPassword}" method="post" th:object="${modificarpassword}">
                                           <span class="has-error" th:text="${errornoencontrado}"></span>
                                            <div class="form-floating mb-3">
                                            	<input class="form-control" id="email" name="email" th:field="*{user}" type="text" placeholder="guiller@punto.es" />
                                                <label for="email">User</label>                                     
                                            </div>
                                            <div class="form-floating mb-3">                                            	                                         	
                                                <input class="form-control" id="password1" name="pasword1"  type="password" th:field="*{password1}" />
                                                <label for="email">Nueva Password</label>       
                                                <span	th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}" class="has-error" id="categoria-error">Errores</span>                              
                                            </div>
                                             <div  class="form-floating mb-3">                                            	                                        	
                                                <input class="form-control" id="password2" name="pasword2"  type="password"  th:field="*{password2}"/>
                                                <label for="email">Confirme Password</label> 
                                                 <span	th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}" class="has-error" id="categoria-error">Errores</span>                                    
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a type="button" th:href="@{/login}" class="btn btn-secondary">Cancelar</a>
                                                <!-- <button type="button" th:onclick="modificarpassword()" class="btn btn-primary">Cambiar</button> -->
                                                <!-- <button type="button" id="ver" class="btn btn-primary" name="modificar">Cambiar </button> -->
                                                <button type="submit" id="ver" class="btn btn-primary" >Cambiar </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
<!--             <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div> -->
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"> </script>   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> -->
        <script src="/js/RecuperarPassword.js" th:src="@{/js/RecuperarPassword.js}"></script>
    </body>
</html>
